<!--
title: How to contribute
description: Find out how to contribute to your favorite distribution
published: true
date: 2021-12-19T11:40:13.267Z
tags: how-to, contribution
editor: ckeditor
dateCreated: 2021-12-18T16:01:09.461Z
-->

<p style="text-align:justify;">So you found something to improve or want to contribute to Garuda in any way? There are <strong>several possibilities</strong> on how to do this. You don't even need to know how to code in order to contribute something meaningful!</p>
<p style="text-align:justify;">&nbsp;</p>
<h2 style="text-align:justify;"><strong>Contributing code</strong></h2>
<p style="text-align:justify;">Obviously, you can have a look at our <a href="https://gitlab.com/garuda-linux/">GitLab</a> and search for the repository which corresponds to the thing you want to contribute to - in case doing changes to Garuda Assistant this would be <a href="https://gitlab.com/garuda-linux/applications/garuda-assistant">this repo</a> for example.</p>
<ul>
  <li style="text-align:justify;">Fork the repo by clicking “<strong>Fork</strong>”</li>
  <li style="text-align:justify;">Clone the repo by copying its git address using the “<strong>Clone</strong>” button</li>
  <li style="text-align:justify;">Apply the changes in your local repository</li>
  <li style="text-align:justify;">Commit the changes by typing <code>git add . &amp;&amp; git commit -m “explanation of what changed" &amp;&amp; git push</code></li>
  <li style="text-align:justify;">Create a merge request at the original repo which we will review it as soon as possible 😊</li>
</ul>
<p style="text-align:justify;">&nbsp;</p>
<h2 style="text-align:justify;"><strong>Contributing documentation &amp; translations</strong></h2>
<p style="text-align:justify;">Documentation is a crucial part of a project which helps finding solutions efficiently. In our case, this would mostly mean <strong>creating and enhancing existing articles </strong>found in our <a href="https://wiki.garudalinux.org">wiki</a>. <strong>Translating existing articles</strong> into other languages is also a very welcome way to contribute to a more accessible documentation which is also possible without in-depth knowledge of the operating system. There are two ways to achieve this:&nbsp;</p>
<ul>
  <li style="text-align:justify;"><strong>Contact any team member</strong> (eg. via our <a href="https://forum.garudalinux.org">Forum</a>,<a href="https://t.me/garudalinux"> Telegram group</a> or <a href="mailto:team@garudalinux.org">mail</a>) with a short explanation of what you want to change. We will follow up and provide you with a wiki account. This way is definitely the easier one as editing articles can be done via WYSIWYG editor.</li>
  <li style="text-align:justify;">Clone the <a href="https://gitlab.com/garuda-linux/website/wiki">GitLab repo</a> of our wiki and proceed as explained in “<strong>Contributing code</strong>”. This requires knowledge of HTML and <a href="https://docs.requarks.io/">Wikijs</a>.</li>
</ul>
<p style="text-align:justify;">&nbsp;</p>
<h2 style="text-align:justify;"><strong>Contributing as forum member</strong></h2>
<p style="text-align:justify;">The forum itself is the home of our community. A lot of help requests and general talk is going on here lately which means there are a lot of threads to answer as well. We are very happy about everyone who decides to take part in discussions and helping other forum members as it takes some work off our staffs shoulders. 😊</p>
<ul>
  <li style="text-align:justify;">The only thing needed here is a forum account, you can <a href="https://forum.garudalinux.org/invites/X5F8TFxZd6">click here</a> to sign up!</li>
</ul>
<p style="text-align:justify;">&nbsp;</p>
<h2 style="text-align:justify;">Contributing donations</h2>
<p style="text-align:justify;">If you don't have the time or motivation to contribute in either way, you can still help us by donating to help sustaining our running costs. <strong>Every single donation is highly appreciated </strong>and ensures the continued existence of our favorite distribution! 🙂</p>
<ul>
  <li style="text-align:justify;">Our website has a dedicated <a href="https://garudalinux.org/donate.html">donation page</a> which lists possibilities and pros/cons of the different available platforms.</li>
</ul>
<p>&nbsp;</p>
