<!--
title: Installation Manual
description: Description of suggested installation procedure
published: true
date: 2021-12-20T20:42:32.475Z
tags: guide, installation, instructions
editor: ckeditor
dateCreated: 2020-10-23T10:17:20.438Z
-->

<p style="text-align:justify;">This is a manual on how to install Garuda Linux “Harpy Eagle”. If you have done it before, you might still want to stay here because you may learn something new 😁</p>
<p style="text-align:justify;">&nbsp;</p>
<h2 style="text-align:justify;">Before it starts</h2>
<ul>
  <li style="text-align:justify;">To learn about the installation of<strong> Garuda on MacBook Pro</strong>, you can visit<strong> </strong><a href="https://wiki.garudalinux.org/en/installation-instructions-macbook-pro"><strong>this page</strong></a>.</li>
  <li style="text-align:justify;"><strong>Check your hardware</strong>.To check <strong>Garuda's</strong> system requirements and some other notes visit <a href="https://wiki.garudalinux.org/en/system-requirements"><strong>this wiki page</strong></a>. (optional if you sure that your computer will not explode)</li>
  <li style="text-align:justify;">If you want to <strong>dual-boot with Windows,</strong> please <strong>don't! </strong>⚠️ (really? and you think you are linuxoid?)<ul>
      <li style="text-align:justify;">You want it anyway? Visit this <a href="https://forum.garudalinux.org/t/tutorial-for-dual-boot-garuda-linux-windows-10/3884"><strong>UNOFFICIAL guide how to dual-boot Garuda with Windows</strong></a> (<i>may be deprecated</i>).</li>
    </ul>
  </li>
  <li style="text-align:justify;"><strong>Download the preferred edition</strong>. Also, verify checksum to ensure that file is downloaded successfully. The official, recommended way of doing this is using our <a href="https://forum.garudalinux.org/t/garuda-downloader-a-zsync-enabled-delta-downloader-for-garuda-linux-iso-files/6224"><strong>Garuda Downloader</strong></a><strong> </strong>application which takes care of downloading (who would have expected!) and writing the downloaded iso to your thumb drive via GUI afterwards. You might as well provide an existing iso as seed file - the application is able to minimize the bandwidth used by taking advantage of Zsync2 which just downloads the actual differences of the file.</li>
</ul>
<figure class="image image-style-align-left"><img src="/screenshots/garuda-downloader-main.png">
  <figcaption>We select an iso and click “Download”..</figcaption>
</figure>
<figure class="image image-style-align-left"><img src="/screenshots/garuda-downloader-done.png">
  <figcaption>..click “Flasher” which launches the flasher…</figcaption>
</figure>
<figure class="image"><img src="/screenshots/garuda-downloader-flasher.png">
  <figcaption>..and click through the wizard</figcaption>
</figure>
<ul>
  <li style="text-align:justify;">Once its done, boot the drive you just flashed above by selecting it as boot option in your devices BIOS.</li>
  <li style="text-align:justify;">More information on how to achieve this might be available <a href="https://searx.garudalinux.org/search?q=BIOS%20menu%20key%20brand&amp;categories=general"><strong>here</strong></a> as the procedure depends on the device manufacturer.</li>
</ul>
<p style="text-align:justify;">&nbsp;</p>
<p style="text-align:justify;">&nbsp;</p>
<h2 style="text-align:justify;">Installation</h2>
<p style="text-align:justify;">We booted the live installation medium. Click on “<strong>Install</strong>” button on desktop to launch <strong>Calamares</strong>. You should plug in a charging cable if you are using a laptop. An internet connection is optional.</p>
<figure class="image image_resized" style="width:68.32%;"><img src="/screenshots/calamares.webp">
  <figcaption>The Calamares installer</figcaption>
</figure>
<p style="text-align:justify;">Once it opens you will notice that there are <strong>8 steps in Calamares</strong>:</p>
<ul>
  <li style="text-align:justify;"><strong>WELCOME</strong> - Here you need to choose the language that you prefer.</li>
  <li style="text-align:justify;"><strong>LOCATION</strong> - Here you see a map. If you know geography, click on place where you live. It sets up the <strong>devices timezone</strong>.</li>
  <li style="text-align:justify;"><strong>KEYBOARD</strong> - Here you need to choose your keyboard model and main keyboard layout.</li>
  <li style="text-align:justify;"><strong>PARTITIONS</strong>
    <ul>
      <li style="text-align:justify;">If you don't care, choose “<strong>Erase Disk</strong>”. This is recommended if you want to use Garuda as main OS.</li>
      <li style="text-align:justify;">If you care, select “<strong>Manual Partitioning</strong>”. A partitioning manual will be available later.</li>
    </ul>
  </li>
  <li style="text-align:justify;"><strong>USERS</strong> - Here you need to choose your username, hostname and password.</li>
  <li style="text-align:justify;"><strong>SUMMARY</strong> - Here is summary information about the earlier selected options. Which location, which locale, which username, etc.</li>
  <li style="text-align:justify;"><strong>INSTALL</strong> - The actual installation of Garuda Linux. You can see a progress bar be happy about new installation once it finished.</li>
  <li style="text-align:justify;"><strong>FINISH</strong> - When message about successful installation pops up, &nbsp;you have to reboot the computer.</li>
</ul>
<p style="text-align:justify;">&nbsp;</p>
<p style="text-align:justify;"><strong>MAY BE USEFUL:</strong></p>
<ul>
  <li style="text-align:justify;"><a href="https://wiki.archlinux.org/title/Partitioning"><strong>An Arch Linux wiki page about partitioning</strong></a></li>
  <li style="text-align:justify;"><a href="https://wiki.archlinux.org/title/Dual_boot_with_Windows"><strong>An Arch Linux wiki page about dual booting with Windows</strong></a> (pls, dont)</li>
</ul>
<p style="text-align:justify;">&nbsp;</p>
<p style="text-align:justify;">&nbsp;</p>
<h2 style="text-align:justify;">Post-installation</h2>
<p style="text-align:justify;">Okay, you installed Garuda Linux, right? Congrats! I'm proud of you!</p>
<p style="text-align:justify;">Let's start some essential things to do after the installation.</p>
<p style="text-align:justify;">&nbsp;</p>
<h3 style="text-align:justify;">Setup assistant - running through steps automatically</h3>
<p style="text-align:justify;">The setup assistant will open up after the first boot process has been completed. It will run you through some essential steps which should be performed after an installation and offers an additional wizard which can install a lot of common Linux software. The first prompt will ask you to update the system, which is highly recommended. This will run the update, update mirrorlists to get the best download speed, a few additional maintenance tasks and most importantly: it can apply eventually required manual interventions automatically by updating the <a href="https://gitlab.com/garuda-linux/packages/stable-pkgbuilds/garuda-update/-/blob/master/garuda-update">garuda-update</a> script to the latest version before proceeding with the actual update. We occasionally use this to work around some problematic situations like the recent example of a <a href="https://forum.garudalinux.org/t/intervention-potentially-required-python-3-10-and-you/15342">required reinstallation of all packages</a> affected by Arch pushing Python 3.10 to its repos.</p>
<figure class="image"><img src="/screenshots/setup-assistant-update.png"></figure>
<p>After that, we you can start the application wizard to help finding fitting and required software - printer support is also one of those options.&nbsp;</p>
<figure class="image"><img src="/screenshots/setup-assistant-software.png"></figure>
<p style="text-align:justify;">Most applications have a short description about what the package actually does - this can help you decide which option to take.&nbsp;</p>
<figure class="image"><img src="/screenshots/setup-assistant-selection.png"></figure>
<p>In the end, the assistant will open a terminal window to install &amp; setup the selected options. Additional setup (like enabling systemd services) for packages that require them will be handled automatically.</p>
<p style="text-align:justify;">&nbsp;</p>
<h3 style="text-align:justify;">Refreshing mirrorlists manually</h3>
<figure class="image"><img src="/screenshots/garuda-assistant-refresh.png"></figure>
<ul>
  <li style="text-align:justify;">Click on “<strong>Refresh mirrorlist</strong>” in <strong>Garuda Assistant</strong>. Clicked? Good. It will open<strong> reflector-simple</strong>, a GUI for <a href="https://wiki.archlinux.org/title/Reflector"><strong>reflector</strong></a>.</li>
  <li style="text-align:justify;">In<strong> reflector-simple</strong> choose your country and if you want, worldwide mirrors, and then "<strong>include https mirrors</strong>". Then just click “<strong>OK</strong>”.</li>
  <li style="text-align:justify;">The window will close but the actual process did not complete yet. Wait until another window opens and click “<strong>Save</strong>”.</li>
  <li style="text-align:justify;">Open up your terminal. The application used as terminal depends on the edition used. All editions do ship “<a href="https://wiki.archlinux.org/title/Alacritty"><strong>Alacritty</strong></a>” though - best of the best as I think.</li>
  <li style="text-align:justify;">Then, type <code>sudo pacman -Syyu</code> and wait until it's done. If it causes any issues, visit our <a href="forum.garudalinux.org"><strong>forum</strong></a> or <a href="t.me/garudalinux"><strong>Telegram chat</strong></a> for support!</li>
</ul>
<p style="text-align:justify;">To learn more about <a href="https://wiki.archlinux.org/title/Pacman"><strong>Pacman</strong></a>, click on the hyperlink.</p>
<p style="text-align:justify;">&nbsp;</p>
<h3 style="text-align:justify;">Conclusion</h3>
<p style="text-align:justify;">That is all what we needed to fully install the system. Of course, there are also more things to learn like <strong>Octopi</strong>, <strong>Garuda Gamer </strong>and many more. We have a wiki article describing further steps to take when setting up your fresh installation over <a href="/en/post-installation-tasks">here</a>. Reading this article is highly recommended as it demonstrates some things most people would like to go through on their new installation.</p>
<p style="text-align:justify;">And now, goodbye. <i><strong>Have a good linuxperience</strong></i>! 😌</p>
<p style="text-align:justify;">P.S.: I am really proud of you if you installed Garuda Linux for the first time 😇</p>
