<!--
title: Cheatsheets and keybindings
description: All of them
published: true
date: 2021-12-19T14:23:04.543Z
tags: cheatsheet, meta
editor: ckeditor
dateCreated: 2021-04-12T19:01:06.450Z
-->

<p>Here is the list of current cheatsheets for Garuda:</p>
<ul>
  <li><a href="https://wiki.garudalinux.org/en/bspwm-cheatsheet">BSPWM cheat sheet</a></li>
  <li><a href="https://wiki.garudalinux.org/en/micro-cheatsheet">Micro cheatsheet</a></li>
  <li><a href="https://wiki.garudalinux.org/en/Sway_Cheatsheet">Sway cheatsheet</a></li>
  <li><a href="https://wiki.garudalinux.org/en/qtile-cheatsheet">Qtile cheatsheet</a></li>
</ul>
