<!--
title: Qtile Cheatsheet
description: 
published: true
date: 2021-12-19T10:40:05.411Z
tags: 
editor: ckeditor
dateCreated: 2020-12-31T13:39:48.040Z
-->

<p style="text-align:justify;">Qtile is a full-featured, hackable and dynamic window manager with small resource consumption while being easy to customize. Garuda Qtile uses which makes it easy and convenient to launch application without remembering keybindings. Other features include pywal-colors integrated dmenu and terminal and the Sweet-Dark theme.</p>
<p style="text-align:justify;">&nbsp;</p>
<h2 style="text-align:justify;">Configuration locations</h2>
<p style="text-align:justify;">Configuration file of qtile: <code>~/.config/qtile/config.py</code></p>
<p style="text-align:justify;">Autostart script ( runs at every login/boot): <code>~/.config/qtile/scripts/autostart.sh</code></p>
<p style="text-align:justify;">Pywal script (add/remove directories for wallpapers): <code>~/.config/qtile/scripts/autostart.sh</code></p>
<p style="text-align:justify;">&nbsp;</p>
<h2 style="text-align:justify;">Most important keybindings</h2>
<p style="text-align:justify;">Super + x &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Quit Qtile (logout)</p>
<p style="text-align:justify;">Super + q &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Close Application</p>
<p style="text-align:justify;">Ctrl + Alt + o &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; toggle picom/transparency</p>
<p style="text-align:justify;">Super + Shift + {⇠,⇢,⇡,⇣} &nbsp; Move Windows</p>
<p style="text-align:justify;">Super + f &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Toggle Fullscreen</p>
<p style="text-align:justify;">Super + Shift + r &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Restart Qtile</p>
<p style="text-align:justify;">&nbsp;</p>
<h2 style="text-align:justify;">Starting applications</h2>
<p style="text-align:justify;">Alt + f &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Firefox</p>
<p style="text-align:justify;">Alt + w &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Garuda Welcome</p>
<p style="text-align:justify;">Alt + p &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Pamac (Application Manager)</p>
<p style="text-align:justify;">Alt + m &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Pcmanfm (Filemanager)</p>
<p style="text-align:justify;">Alt + e &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Emacs</p>
<p style="text-align:justify;">Super + v &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Audio Control</p>
<p style="text-align:justify;">Super + d &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Main Menu (Application Launcher)</p>
<p style="text-align:justify;">Super + Shift + d &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Dmenu</p>
<p style="text-align:justify;">Super + Return &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Alacritty</p>
<p style="text-align:justify;">Super + Return + Shift &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Pcmanfm</p>
<p style="text-align:justify;">Ctrl + Alt + t &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Termite</p>
<p style="text-align:justify;">&nbsp;</p>
<h2 style="text-align:justify;">Other Keybindings</h2>
<p style="text-align:justify;">Super + w &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Change wallpaper and colorscheme</p>
<p style="text-align:justify;">Super + Space &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Toggle Layouts</p>
<p style="text-align:justify;">Super + Shift + {1-9} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Send window to desktop{1-9}</p>
<p style="text-align:justify;">Super + Shift + f &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Flip layout for monadtail/monadwide</p>
<p style="text-align:justify;">&nbsp;</p>
<h2 style="text-align:justify;">Pywal-colors</h2>
<p style="text-align:justify;">Garuda Qtile uses a Python script to change wallpaper using keybinding (Super + w) and on every login/boot with a new color scheme matching wallpaper integrated with dmenu and terminal color scheme. It means on every login/boot or using keybinding (Super + w), there will be &nbsp;new wallpaper and matching color scheme for dmenu and terminal. You can add your own wallpaper directory by editing <code>~/.config/qtile/scripts/pywal-colors.py</code> as shown below:</p>
<figure class="image"><img src="/screenshots/pywal_script.png"></figure>
<p style="text-align:justify;">Edit the line starting with<code>e = "/home/rohit/mydata/Pictures/wallpapers"</code> and change/copy the path to your wallpaper directory.</p>
<p style="text-align:justify;">The files should be self explaining, if there are questions concerning the setup feel free to ask them in our forum! 😊</p>
<p style="text-align:justify;">&nbsp;</p>
<p style="text-align:justify;">&nbsp;</p>
<p style="text-align:justify;">&nbsp;</p>
<p>&nbsp;</p>
