<!--
title: Restoring snapshots to get the system back to working state
description: How to go back in time in a matter of seconds
published: true
date: 2021-12-19T11:34:15.730Z
tags: restore, snapshots, snapper
editor: ckeditor
dateCreated: 2020-10-03T11:03:28.341Z
-->

<p>By using BTRFS we gain access to some pretty useful features such as <strong>snapshots of the filesystem</strong>. By default we <strong>exclude the home</strong> and log directories so only the relevant system parts get saved. If you run into problems or bad upgrades you can always <strong>boot into an older snapshot</strong> (which gets created everytime the system gets updated, keeping you safe) using GRUB and then restoring the older snapshot.&nbsp;</p>
<p>&nbsp;</p>
<h2>An overview of the procedure</h2>
<p>To get back to working state we will boot into a snapshot created by Snapper:</p>
<ul>
  <li><strong>Reboot</strong></li>
  <li>In <strong>GRUB</strong> (bootloader) select "<strong>Garuda snapshots</strong>" instead of “Garuda Linux” and select the latest snapshot</li>
  <li>Once the boot process completed you will be <strong>automatically prompted to restore the currently booted snapshot</strong></li>
  <li><strong>Reboot</strong> and enjoy your working system</li>
</ul>
<p>&nbsp;</p>
<p>If the latest snapshot is not working try the older ones. If you missed the prompt, you will need to:</p>
<ul>
  <li><strong>Open up BTRFS Assistant</strong> via start menu</li>
  <li>Head over to the <strong>Snapper tab</strong> and proceed as shown below</li>
</ul>
<figure class="image"><img src="/screenshots/btrfs-assistant-restore.png"></figure>
<ul>
  <li>Reboot if the restoration was successful</li>
</ul>
<p>&nbsp;</p>
<p>💡 It is important to identify the cause of the issue which lead to this situation. Keep in mind that updating the system after restoring a snapshot might end up in the same unbootable state if the issue hasn't been fixed beforehand.&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h2>Legacy iso / very ancient installations</h2>
<p>Historically we used Timeshift as tool to manage our snapshots. Since the integration of Snapper in our Garuda Assistant (and the following creation of BTRFS Assistant) it is no longer used though as Snapper has <a href="https://forum.garudalinux.org/t/starting-the-integration-of-snapper-in-testing-isos/12521">a few advantages</a> compared to Timeshift. People who are still using Timeshift can convert their system to Snapper by simply installing <code>snapper-support</code>, which will take care of the whole setup process and removal of Timeshift.</p>
<ul>
  <li>A video which demonstrates the restoration of Timeshift snapshots <a href="https://piped.kavin.rocks/watch?v=CEBu7KkKdt0">is available</a> as well</li>
</ul>
