<!--
title: Understanding your computer
description: RTFM, KISS, SUCC
published: true
date: 2021-04-12T20:05:20.134Z
tags: 
editor: ckeditor
dateCreated: 2021-04-12T20:05:17.630Z
-->

<p><span class="text-huge">If you want to use Linux, and specifically Garuda Linux you should understand the basics of computing.</span></p>
<p>These basics will be set here.</p>
<ol>
  <li>What is a computer?<ol>
      <li>Definition</li>
      <li>Types of computers</li>
      <li>Modern computers</li>
      <li>Your computer</li>
    </ol>
  </li>
  <li>What is hardware?<ol>
      <li>What is a CPU?</li>
      <li>What is a GPU?</li>
      <li>What is a motherboard?</li>
      <li>What is a sound card?</li>
      <li>What is a Wi-Fi card?&nbsp;</li>
    </ol>
  </li>
  <li>What is software?<ol>
      <li>What is firmware (BIOS, UEFI).</li>
      <li>What is an operating system?<ol>
          <li>What is kernel?</li>
          <li>What is Linux?</li>
        </ol>
      </li>
    </ol>
  </li>
</ol>
