<!--
title: Why we will not use Discord as our support channel
description: Never ever. Rawr.
published: true
date: 2021-12-19T11:47:27.767Z
tags: discord, support
editor: ckeditor
dateCreated: 2021-04-04T19:22:00.916Z
-->

<p style="text-align:justify;">Discord is proprietary, bloated, and insecure. Yeah, it's convenient, and it's settings are robust, but our users and developers don't want to be hacked. Recently Microsoft talked about acquiring Discord, and we don't like anything about that company either. Also, for technical difficulties the convenience of the forum outweighs possible benefits of voice chat, thanks to categorization and deeper search functions overall. Another reason is our support layer is too thin to be spread on other platforms and we don't want our support to be mentally dead after infinitely checking all of the possible support routes on the Internet. Even if somebody were to create a voice channel for Garuda it will not be our official support channel, but instead just a fun place to hang out. If you want to, use <a href="https://www.mumble.info/">Mumble</a>, <a href="https://jami.net/">Jami</a>, <a href="https://desktop.jitsi.org/">Jitsi</a>, <a href="https://zulip.com/">Zulip</a>, or any other opensource voice chat app. Please don't waste our time by asking about Discord, Skype or other proprietary garbage. 👀</p>
