<!--
title: Удаление ненужных программ
description: Избавление от бесполезных пакетов
published: true
date: 2020-12-10T21:21:44.196Z
tags: удаление, bloatware, бесполезные программы, бесполезный софт, бесполезные пакеты
editor: ckeditor
dateCreated: 2020-12-10T21:21:42.254Z
-->

<p>Вы только установили Garuda Linux и хотите узнать как избавиться от пакетов которые вы не используете? Это довольно просто.&nbsp;<br>Откройте Pamac с помощью ярлыка в стартовом меню и измените настройки связанные с тем как “осиротевшие” (без зависимостей) пакеты используются Pamac. Они теперь автоматически удаляются вместо того чтобы остаться установленными.</p>
<figure class="image"><img src="/wiki_pamac.png">
  <figcaption>Необходимые настройки указаны красными стрелками</figcaption>
</figure>
<p>&nbsp;</p>
<p>Затем переместитесь во вкладку "Установлено специально". Здесь вы можете выбрать пакеты которые от которых вам нужно избавиться. К примеру, вы можете удалить видеодрайверы AMD если вы используете только видеокарту Intel и наоборот.&nbsp;</p>
<p>Прежде чем убирать приложения, убедитесь в том что вы аккуратно изучили их список!!</p>
<figure class="image"><img src="/pamca_ru2.png">
  <figcaption>Выбираем ненужные пакеты</figcaption>
</figure>
